body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a { color: inherit; }

li a {
  text-decoration: none;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: right;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header li a:hover {
    background-color: grey;
}

.Personal-info {
  margin: 50px auto;
  text-align: center;
}

.profile-pic img{
  height: 200px;
  border-radius: 50%;
}

.name {
  border-bottom: 2px solid black;
  width: 300px;
  margin: 0 auto;
    }
  .Personal-info li {
    display: inline;
    margin: 0 20px;
  }

.social img{
  width:30px;
}
.social li a{
  font-size: 30px;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}